<tr>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle">
    <%= image_tag badge.image_url, class: 'badge-image' do %>
    <% end %>
  </td>
  <td class="align-middle"><%= badge.description %></td>
</tr>
