<%= render 'shared/errors', resource: @badge %>

<table class="table">
  <thead>
    <tr>
      <th>Badge Title</th>
      <th>Badge Image</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <%= render @badges %>
  </tbody>
</table>
