<% if resource.errors.present? %>
  <div>
    <h2><%= pluralize(resource.errors.count, 'error') %> detected: </h2>

    <ul>
      <% resource.errors.each do |message| %>
          <li><%= message.attribute %>: <%= message.type %></li>
      <% end %>
    </ul>
  </div>
<% end %>
