<p>Текущий год: <%= current_year %></p>
<p>Имя автора: Софья Попова</p>
<p>Проект <a href=<%= github_url("alexsp63", "TestGuru") %> target="_blank">TestGuru</a></p>
<p>Онлайн-школа <a href="http://www.thinknetica.com/" target="_blank">Thinknetica</a></p>