<h1> All Tests </h1>

<%= flash_message(:alert) %>

<p>
  <%= link_to 'New Test', new_test_path %> 
</p>

<table>
  <tr>
    <th>Test Title</th>
    <th>Test Level</th>
    <th>Number of Questions</th>
    <th colspan="4">Actions</th>
  </tr>

  <%= render @tests %>
</table>
